<h1 class="center">Welcome</h1>
<center>
<div>
    <%= link_to "New User signup", signup_path, method: :get %>
</div>
</center>


<center>
<div>
    <%= link_to "Login", login_path, method: :get %>
</div>
<p>........................................</p>
</center>

<center>
  <h2>Event List</h2>
  <table> 
    <th>Event name</th>
    <th>Event Description</th>
    <th>Event Date</th>
    <th>Event Category</th>
    <th>Created By</th>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.event_date %></td>
      <td><%#= event.category.category_name %></td>
      <td><%= event.user.username if event.user %></td>
    </tr>
    <% end %>
  </table>
</center>
